/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-cache-fixture
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/dist
/coverage
.DS_Store
*.log
.idea
.vscode
.eslintcache
package-lock.json
/informe/PR_INFORME_estudiant.odt
/informe/PR_INFORME_Santiago_Calvo.odt

/html_samples/
/informe/.~lock.PR_INFORME_Santiago_Calvo.odt#
/informe/Practica-final-Infografia.pdf
/informe/
